apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: gce
    kubernetes.io/ingress.global-static-ip-name: tfwiki-production-static-ip
    cert-manager.io/cluster-issuer: letsencrypt-prod
    acme.cert-manager.io/http01-edit-in-place: "true"
  creationTimestamp: null
  name: prod-ingress
spec:
  backend:
    serviceName: varnish
    servicePort: varnish
  tls:
  - hosts:
    - wiki.teamfortress.com
    - wiki.tf2.com
    - prod.wiki.tf
    secretName: prod-tls
status:
  loadBalancer: {}
