apiVersion: batch/v1
kind: Job
metadata:
  name: mediawiki-update
  labels:
    app: mediawiki-update
spec:
  template:
    metadata:
      labels:
        app: mediawiki-update
    spec:
      containers:
      - image: tfwiki/mediawiki:1.31-tfwiki4-no-uploads
        imagePullPolicy: Always
        name: mediawiki-update
        command: ["php", "/var/www/html/w/maintenance/update.php", "--skip-external-dependencies"]
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: MEMCACHED_HOST
            value: "$(NODE_NAME):5001"
          - name: SERVER_URL
            valueFrom:
              configMapKeyRef:
                name: mediawiki-config
                key: server_url
          - name: SITENAME
            valueFrom:
              configMapKeyRef:
                name: mediawiki-config
                key: sitename
                optional: true
          - name: VARNISH_HOST
            valueFrom:
              configMapKeyRef:
                name: mediawiki-config
                key: varnish_host
                optional: true
          - name: TRUSTED_PROXIES
            valueFrom:
              configMapKeyRef:
                name: mediawiki-config
                key: trusted_proxies
                optional: true
          - name: BLACKFIRE_SOCKET
            valueFrom:
              configMapKeyRef:
                name: mediawiki-config
                key: blackfire_socket
                optional: true
          - name: RECAPTCHA_KEY
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: recaptcha.key
          - name: RECAPTCHA_SECRET
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: recaptcha.secret
          - name: EMAIL_EMERGENCY_CONTACT
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: email.emergency_contact
                optional: true
          - name: EMAIL_PASSWORD_SENDER
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: email.password_sender
                optional: true
          - name: SENTRY_DSN
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: sentry.dsn
                optional: true
          - name: SMTP_HOST
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: smtp.host
                optional: true
          - name: SMTP_IDHOST
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: smtp.idhost
                optional: true
          - name: SMTP_PORT
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: smtp.port
                optional: true
          - name: SMTP_AUTH
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: smtp.auth
                optional: true
          - name: SMTP_USERNAME
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: smtp.username
                optional: true
          - name: SMTP_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: smtp.password
                optional: true
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: secret_key
          - name: STEAM_API_KEY
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: steam.api.key
                optional: true
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: db.password
                optional: true
          - name: DB_DATABASE
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: db.database
                optional: true
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: db.host
                optional: true
          - name: DB_TYPE
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: db.type
                optional: true
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: mediawiki-secret
                key: db.user
                optional: true
        volumeMounts:
          - name: mediawiki-images
            mountPath: /var/www/html/w/images
            subPath: prod
      volumes:
        - name: mediawiki-images
          persistentVolumeClaim:
            claimName: tfwiki-media-prod-claim
      restartPolicy: Never
  backoffLimit: 4