apiVersion: v1
kind: Service
metadata:
  name: mediawiki
  labels:
    app: mediawiki
spec:
  ports:
    - name: mediawiki
      port: 80
      targetPort: mediawiki
  selector:
    app: mediawiki
    tier: frontend
  type: NodePort
---
apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: mediawiki
  namespace: default
spec:
  scaleTargetRef:
    apiVersion: apps/v1beta1
    kind: Deployment
    name: mediawiki
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80